@import "tailwindcss";

:root {
  --brand-color: #0f111d;
  --brand-color-sec: #4d61d6;
  --mid-pure: #ebf2f9;
}

@theme inline {
  --color-brand: var(--brand-color);
  --color-mpure: var(--mid-pure);
  --color-brandnd: var(--brand-color-sec);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-color: #0f111d;
    --foreground: #ffffff;
  }
}
