@import "tailwindcss";

:root {
  --brand-color: #0F111D;
}

@theme inline {
  --color-brand: var(--brand-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-color: #0F111D;
    --foreground: #FFFFFF;
  }
}

