@import "tailwindcss";

:root {
  --brand-color: #0F111D;
  --brand-color-sec: #4D61D6;
  --mid-pure: #EBF2F9;
}

@theme inline {
  --color-brand: var(--brand-color);
  --color-mpure: var(--mid-pure);
  --color-brandnd: var(--brand-color-sec);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    
    --brand-color: #0F111D;
    --foreground: #FFFFFF;
  }
}

